@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $gray-300;

  &__title {
    font-size: 36px;
    font-weight: bold;
    padding: 15px;
  }

  &__user {
    padding: 15px;
  }
}