<div class="container">
    <form class="row align-items-end" id="news-form">
        <div class="col-sm my-1">
            <label for="sources">Sources</label>
            <select class="form-control" id="sources" name="source"></select>
        </div>
        <div class="col-sm my-1">
            <label for="page-size">Page size</label>
            <input type="text" class="form-control" id="page-size" value="10">
        </div>
        <div class="col-sm my-1">
            <label for="page">Page</label>
            <input type="text" class="form-control" id="page" value="1">
        </div>
        <div class="col-sm my-1">
            <button type="submit" class="btn btn-primary btn-block" disabled id="load-news-btn">Load News</button>
        </div>
    </form>
    <hr />
    <div class="text-center">
        <a href="https://newsapi.org/">News API</a> is used to receive news.
    </div>
    <hr />
    <h3>News:</h3>
    <ul class="list-group" id="news">
        <li class="list-group-item">Nothing</li>
    </ul>
    <div class="my-1">
        <button type="submit" class="btn btn-primary btn-block" disabled id="load-next-page-btn">Next Page</button>
    </div>
</div>